PORT=3000
API_TOKEN=my-secret-token

# DB_DIALECT can be 'sqlite' or 'mysql'
DB_DIALECT=sqlite

# SQLite Config
# This will create the database file in the root directory of the project
DB_STORAGE=./database.sqlite

# MySQL Config (Ignored if DB_DIALECT=sqlite)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=rootpassword
DB_NAME=minecraft_db
